<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-teacher-subject-heading"
        data-cy="TeacherSubjectCreateUpdateHeading"
        jhiTranslate="teacherSubjectApp.teacherSubject.home.createOrEditLabel"
      >
        Create or edit a Teacher Subject
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="teacherSubjectApp.teacherSubject.teacher" for="field_teacher">Teacher</label>
          <select
            class="form-control"
            id="field_teacher"
            data-cy="teacher"
            name="teacher"
            formControlName="teacher"
            [compareWith]="compareTeacher"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="teacherOption" *ngFor="let teacherOption of teachersSharedCollection">{{ teacherOption.fullName }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="teacherSubjectApp.teacherSubject.subject" for="field_subject">Subject</label>
          <select
            class="form-control"
            id="field_subject"
            data-cy="subject"
            name="subject"
            formControlName="subject"
            [compareWith]="compareSubject"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="subjectOption" *ngFor="let subjectOption of subjectsSharedCollection">{{ subjectOption?.name }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
