<form (ngSubmit)="save()">
  <div class="ant-modal-title d-flex justify-content-between">
    <h4>Teacher subject connect create</h4>
  </div>

  <p>Total hours: {{ totalHours }}</p>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="ant-modal-body">
    <nz-table [nzData]="subjects" [nzFrontPagination]="false" [nzShowPagination]="false" [nzScroll]="{ x: '600px', y: '240px' }">
      <thead>
        <tr>
          <th [nzChecked]="checked" (nzCheckedChange)="onAllChecked($event)"></th>
          <th>ID</th>
          <th>Name</th>
          <th>Hours</th>
          <th>In Use</th>
          <th>Spec</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subject of subjects">
          <td [nzChecked]="setOfCheckedId.has(subject.id)" (nzCheckedChange)="onItemChecked(subject.id, $event)"></td>
          <td>{{ subject.id }}</td>
          <td>{{ subject.name }}</td>
          <td>{{ subject.hours }}</td>
          <td>{{ subject.inUse }}</td>
          <td>{{ subject.spec?.name }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <div class="ant-modal-footer">
    <button nz-button type="button" (click)="nzModal.closeAll()">Cancel</button>
    <button nz-button nzType="primary">Save</button>
  </div>
</form>
