<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="teacher">
      <div class="d-flex justify-content-between">
        <h2 data-cy="teacherDetailsHeading"><span jhiTranslate="teacherSubjectApp.teacher.detail.title">Teacher</span></h2>

        <button type="button" class="btn btn-primary" (click)="addConnect()">Add subject connect</button>
      </div>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <div class="row">
        <div class="col">
          <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="global.field.id">ID</span></dt>
            <dd>
              <span>{{ teacher.id }}</span>
            </dd>
            <dt><span jhiTranslate="teacherSubjectApp.teacher.fullName">Full Name</span></dt>
            <dd>
              <span>{{ teacher.fullName }}</span>
            </dd>
            <dt><span jhiTranslate="teacherSubjectApp.teacher.rank">Rank</span></dt>
            <dd>
              <span jhiTranslate="{{ 'teacherSubjectApp.AcademicRank.' + teacher.rank }}">{{ teacher.rank }}</span>
            </dd>
            <dt><span jhiTranslate="teacherSubjectApp.teacher.staff">Staff</span></dt>
            <dd>
              <div *ngIf="teacher.staff">
                <a [routerLink]="['/staff', teacher.staff.id, 'view']">{{ teacher.staff.name }}</a>
              </div>
            </dd>
            <dt><span jhiTranslate="teacherSubjectApp.teacher.spec">Spec</span></dt>
            <dd>
              <div *ngIf="teacher.spec">
                <a [routerLink]="['/spec', teacher.spec.id, 'view']">{{ teacher.spec.name }}</a>
              </div>
            </dd>
          </dl>
        </div>

        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col"><span jhiTranslate="teacherSubjectApp.teacherSubject.subject">Subject</span></th>
                <th scope="col"><span jhiTranslate="teacherSubjectApp.teacher.detail.title">Teacher</span></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let teacherSubjectConnect of teacherSubjectConnects">
                <th scope="row">{{ teacherSubjectConnect.id }}</th>
                <td>{{ teacherSubjectConnect.subject?.name }}</td>
                <td>{{ teacherSubjectConnect.teacher?.fullName }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/teacher', teacher.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
